################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/C#7.0核心技术指南/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/1b33d316-298d-44dd-b27b-71cbec8b0a3b.vsidx
/C#7.0核心技术指南/ConsoleApp1/.vs/ConsoleApp1/v17/.suo
/C#7.0核心技术指南/ConsoleApp1/.vs/ConsoleApp1/v17/DocumentLayout.json
/C#7.0核心技术指南/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.deps.json
/C#7.0核心技术指南/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.dll
/C#7.0核心技术指南/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.exe
/C#7.0核心技术指南/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.pdb
/C#7.0核心技术指南/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.runtimeconfig.json
/C#7.0核心技术指南/ConsoleApp1/ConsoleApp1.csproj
/C#7.0核心技术指南/ConsoleApp1/ConsoleApp1.sln
/C#7.0核心技术指南/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
/C#7.0核心技术指南/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
/C#7.0核心技术指南/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/apphost.exe
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.assets.cache
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.BuildWithSkipAnalyzers
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.CoreCompileInputs.cache
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.FileListAbsolute.txt
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.dll
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.genruntimeconfig.cache
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GlobalUsings.g.cs
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.pdb
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.sourcelink.json
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/ref/ConsoleApp1.dll
/C#7.0核心技术指南/ConsoleApp1/obj/Debug/net8.0/refint/ConsoleApp1.dll
/C#7.0核心技术指南/ConsoleApp1/obj/project.assets.json
/C#7.0核心技术指南/ConsoleApp1/obj/project.nuget.cache
